<%= render 'shared/navbar' %>

<div class="container height-min-100-vh">
  <h1>Bookings</h1>
  <%= simple_form_for [@bird, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <strong><%= "#{@bird.price}€ /days" %></strong>
  <div>
    <%= f.submit "Réserver" %>
    <button class="btn">
      <%= link_to "Annuler", bird_path(@bird) %>
    </button>
  </div>
  <% end %>

</div>
