<%= render 'shared/navbar' %>

<div class="container">
  <h1>Bookings</h1>
  <%= simple_form_for [@bird, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Réserver" %>
  <% end %>
  <% if @error %>
  <%= "erreur" %>
  <% end %>
</div>
