<div class="d-flex justify-content-start">
  <div class="col-3 p-0">
    <%= link_to bird_path(bird) do %>
      <% if bird.photo.attached? %>
        <%= cl_image_tag bird.photo.key, class:"avatar" %>
      <% elsif bird.image.present? %>
        <%= image_tag bird.image, class:"avatar" %>
      <% else %>
        <%= image_tag 'https://i.pinimg.com/originals/eb/c7/53/ebc75307bf7a5facdb5bd4bf42af1e4f.png', class:"avatar" %>
      <% end  %>
    <% end  %>
  </div>
  <div class="col p-0 ml-1 mb-0">
    <h2><%= bird.name %></h2>
  </div>
</div>
<div class="d-flex align-items-center">
  <div class="col-3 p-0">
    <p class="bold" style="font-size: 18px;"><%= bird.price %>€</p>
  </div>
  <div class="col p-0 ml-1">
    <p class="mb-0"><%= bird.address %></p>
  </div>
</div>

