<%= render 'shared/navbar' %>

<div class="container mt-4 height-min-100-vh">
  <div class="d-flex align-items-center">

    <div class="col-2">
       <% if @bird.photo.attached? %>
           <%= cl_image_tag @bird.photo.key, class:"avatar-large" %>
         <% elsif @bird.image.present? %>
            <%= image_tag @bird.image, class:"avatar-large" %>
        <% else %>
            <%= image_tag 'https://i.pinimg.com/originals/eb/c7/53/ebc75307bf7a5facdb5bd4bf42af1e4f.png', class:"avatar-large" %>
        <% end  %>
    </div>

    <div class="col ml-4">
      <div class="d-flex justify-content-between">
        <h1 class="pb-1"><%= @bird.name %></h1>
        <span class="d-flex"><h1><%= @bird.price %>€</h1><p>/day</p></span>
      </div>
      <div style="border-top: 1px solid #272343;"></div>
      <div class="d-flex justify-content-between pt-3 align-items-start">
        <h2 class="font-italic"><%= @bird.species %></h2>
        <button class="btn btn-primary" data-toggle="modal" data-target="#ModalBookingNew">Booking</button>
      </div>
    </div>

  </div>


  <div class="row d-flex mt-4">
    <div class="col-2 text-center">
      <%= @bird.rating %> <i class="fas fa-star" style="color: #272343"></i>
    </div>
    <div class="col ml-4">
      <p class="text-justify"><%= @bird.description %></p>
    </div>
  </div>
  <div class="row d-flex mt-4">
    <div class="col-2 text-center">
      <button class="btn btn-outline-primary my-2 my-sm-0">Add <i class="fas fa-star"></i></button>
    </div>
    <div class="col-3 ml-4">
      <h2 class="pb-2" style="border-bottom: 1px dotted #272343;">Category</h2>
      <p class="text-justify"><%= @bird.category %></p>
    </div>
    <div class="col-3 ml-4">
      <h2 class="pb-2" style="border-bottom: 1px dotted #272343;">Capacity</h2>
      <p class="text-justify"><%= @bird.capacity %> Kg</p>
    </div>
    <div class="col-3 ml-4">
      <h2 class="pb-2" style="border-bottom: 1px dotted #272343;">Range</h2>
      <p class="text-justify"><%= @bird.range %> Km</p>
    </div>
  </div>

</div>


</div>



<!-- ModalBookingNew -->
<div class="modal fade" id="ModalBookingNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg h-75" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">New Booking</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container mt-4">
          <div class="mx-5">

            <%= simple_form_for [@bird, Booking.new] do |f| %>
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <strong><%= "#{@bird.price}€ /days" %></strong>

            <div class="mt-2">
              <%= f.submit "Booking", class:"btn btn-primary" %>
            </div>
            <% end %>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
